.light {
    border: 1px solid white;
    width: 50%;
    height: 22%;
    border-radius: 50%;
    background-color: darkgray;
    transition: background-color 0.6s ease-in-out;
}

.traffic-light.subordinate .light {
    margin-left: 90%;
}

#red.on {
    background-color: red;
}

#orange.on {
    background-color: orange;
}

#green.on {
    background-color: green;
}